[Unit]
Description=Webhook Service Daemon
After=network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/bin/webhook -hooks /var/scripts/hooks.json -verbose
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target